<div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_with(model:@user, url: attendances_update_day_request_user_path(@user, attendance_id:@attendance.id), method: :patch, local:true) do |f| %>
            <table class="table table-bordered table-striped table-condensed" id="overtime-request-table">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>出勤時間</th>
                  <th>退社時間</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= l(@attendance.worked_on, format: :short) %></td>
                  <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                  <td><%=f.time_field :started_at, class:"form-control"%></td>
                  <td><%=f.time_field :finished_at,class:"form-control" %></td>
              </tbody>
            </table>
          <%= f.submit "変更を送信する", class: "btn btn-block btn-primary" %>
          <% end %>
        </div>
      </div>